extends ../../../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right


block content
	a.back_link(href='/auth/edit/works') < Назад
	.title РЕДАКТИРОВАТЬ РАБОТУ
	br
	form(action="", method="post", enctype="multipart/form-data")
		.form_title Название:
		input.ru(type="text", name="ru[title]", value=work.ru.title)
		input.en(type="text", name="en[title]", value=work.en.title, disabled)
		.form_title Описание:
		textarea.ru(name="ru[description]", rows="8",)= work.ru.description
		textarea.en(name="en[description]", rows="8", disabled)= work.en.description
		.form_title Лого:
		input(type="text", name="logo", value=work.logo)
		.form_title Категория:
		select(name='category')
			option(value='site') Создание сайтов
			option(value='support') Поддержка сайтов
			option(value='navigate') Разработка навигации
			option(value='design') Графический дизайн
			option(value='exhibition') Проектирование выставок
		//- .form_title Картинки:
		//- .snake
		//- 	input(type="file", name="photo[0]")
		//- input.plus(type="button", value="-")
		//- input.minus(type="button", value="+")
		br
		br
		input(type='button', class='toggle_eng', value='Перевод')
		input(type="submit", value="Редактировать")